body {
    color: white;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header div {
    
}
.linktree {
    display: flex;
    align-items: center;
    justify-content: center;
}
.linktree div {
    border: 4px solid brown;
    margin: 100px;
    padding: 25px;
}