body {
    color: white;
    background-color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header div {
    
}
.linktree {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.linktree div {
   margin-top: 100px;
}
.linktree img {
    width: 100px;
    height: 100px;
}